* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
main {
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-rows: 60px 1000px;
  grid-template-columns: repeat(5, 1fr) 3fr;
  grid-gap: 50px;
  background-color: rgb(241, 243, 243);
}
.header {
  grid-column: 1/-1;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}
.left {
  margin: 10px 60px;
  display: grid;
  grid-template-rows: 50px 340px 100px auto;
  grid-column: 1 / span 5;
}
.zip {
  padding-right: 10px;
}
.form-control:focus {
  outline: none;
}
.left__item1 h1 {
  text-align: justify;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 0%;
  background-color:white;
}
.left__item2 {
  margin: 0%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.left__item2 .row {
  margin: 0%;
  padding: 0%;
}
.left__item2 .address__box {
  top: 0%;
  margin: 0;
  padding: 0;
}
.left__item2 .address__map button{
margin-left: 20%;
background-color:rgb(255, 255, 255);
color: rgb(121, 118, 118);
}
.left__item2 address p {
  margin: 0;
  padding: 0;
}
.left__item2 .form-group {
  margin: 0px 0px;
}
.left__item2 .form-group input {
  margin: 10px auto;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid Black;
}
.left__item2 .form-group select {
  margin: 10px auto;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid Black;
}
.left__item2 .form-group input:focus {
  outline: none;
}
.left__item2 button {
  margin: 0;
  padding: 0;
  margin: 10px 20px;
  padding: 5px 5px;
  border: none;
  border-radius: 0px;
  background-color: black;
  color: #999;
}
.left__item2 .form-row {
  display: flex;
  margin: 1px auto;
}
.left__item2 .form-row button{
  justify-content: flex-start;
}
.left__item3 {
  margin-top: 50px;
  background-color: rgb(240, 239, 239);
}
.left__item3 h1 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background-color: white;
}
.left__item4 .card{
  margin: 20px !important;
}
.left__item3 .accordion{
  background-color: white;
}
.left__item4 .card-header{
  margin: 0px !important;
  padding: 0 !important;
}
.left__item4 .card-header h2{
  margin-left: 0px ;
}
.left__item4 .card-header .btn{
  margin: 0%;
  padding: 0%;
  border-radius: 0px;
  background-color:transparent;
  color: #999;
  text-decoration: none;
  margin-left: 10px;
}
/* colapse starts from  here */
.card-body{
margin: 10px auto;
padding: 0;
}
.card-body h4{
  padding: 10px;
  font-size:20px;
  font-weight: 400;
}
.card-body .row{
  margin: 0;
  padding: 0;
}
.card-body .btn{
  background-color:black;
  color: #999;
  border-radius: 0px;
  margin-right: 20px;
}
.card-body .bank__images input{
  margin-top: 10px;
}
.card-body .row select{
  padding: 10px;
}
.card-body .row select:focus{
  outline: none;
}
.right {
  margin-left: -80px;
  margin-top: 10px;
  margin-right: 40px;
  display: grid;
  grid-template-rows: 50px 450px;
}
.right__item1 h1 {
  padding: 10px;
  text-align: justify;
  font-size: 16px;
  background-color: white;
}
.right__item2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 10px;
}
.right__item2 .products {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-right: 15px;
}
.right__item2 .products img {
  margin-left: 20px;
  width: 50px;
  height: 50px;
}
.product__info {
  display: flex;
  margin-left: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.product__info .heading {
  font-size: 16px;
  padding-top: 15px;
}
.product__info input {
  width: 50px;
  height: 20px;
  margin: 0 20px !important;
  margin-bottom: 5px;
  border: 2px solid grey;
  justify-content: space-evenly;
}
.product__info p {
  padding-top: 10px;
  font-size: 14px;
}
.product__info input:focus {
  outline: none;
}
.subtotal .subtotal__heading{
  padding: 10px;
  height: 50px;
  background-color: rgb(255, 255, 255);
}
.subtotal p{
  font-size: 14px;
  padding: 10px;
}
.subtotal p span{
  float: right;
}
.subtotal h5{
   padding: 0px  10px;
  font-size: 16px;
  font-weight: 600;
}

.subtotal h5 span{
  float: right;
}

@media only screen and (max-width: 920px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
